@model SocialCoin.Models.Coin

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.Name) (@Html.DisplayFor(model => model.Symbol))</h2>

<div>
    <h4>Coin Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rank)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceUSD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceUSD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceBTC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceBTC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DailyVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DailyVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MarketCapUSD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MarketCapUSD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvailableSupply)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvailableSupply) (@Html.DisplayFor(model => model.Symbol) )
        </dd>

     
    </dl>
</div>
<div>
  
    <a asp-action="Index">Back to List</a>
</div>
